body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Post No Bills Jaffna SemiBold,
    Raleway, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}
#main {
  display: flex;
  flex: 1;
}
@media screen and (max-width: 575px) {
  #main {
    display: block;
  }
}
#main > nav,
#main > aside {
  flex: 0 0 20vw;
  background: beige;
}
#main > nav {
  order: -1;
}
.Header a {
  text-decoration: none;
  color: #4f4f4f;
}
.Header a:hover {
  text-decoration: none;
  color: #4f4f4f;
}
.Header {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#Logo {
  display: flex;
  margin-left: 150px;
  margin-top: 66px;
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 32px;
  margin-top: 40px;
  margin-right: -80px;
}
.Header ul {
  display: flex;
  flex-direction: row;
}
.Header li {
  display: flex;
  padding: 59px;
}
#Login {
  font-family: Roboto;
  font-size: 24px;
  line-height: 41px;
  text-transform: uppercase;
}
.percent {
  display: flex;
  margin-top: -5px;
  justify-content: center;
  width: 156px;
  height: 45px;
  border: 2px solid #00bf32;
  box-sizing: border-box;
  border-radius: 30px;
  color: #00bf32;
}
.Content {
  display: flex;
  width: 100%;
}
.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 59px;
  margin-left: 150px;
  margin-top: 121px;
  color: #4f4f4f;
}
.textGreen {
  margin-left: 150px;
  margin-top: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 32px;
  color: #00bf32;
}
#text3 {
  margin-left: 150px;
  margin-top: 213px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 32px;
  color: #828282;
}
.Links {
  display: flex;
  margin-left: 150px;
  margin-top: 46px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24.7408px;
  line-height: 41px;
  text-transform: uppercase;
  color: #00bf32;
}
.percent1 {
  display: flex;
  margin-top: -5px;
  justify-content: center;
  width: 230px;
  height: 45px;
  border: 2px solid #00bf32;
  box-sizing: border-box;
  border-radius: 30px;
  color: #00bf32;
}
.percent2 {
  display: flex;
  margin-top: -5px;
  margin-left: 10px;
  justify-content: center;
  width: 230px;
  height: 45px;
  border: 2px solid #00bf32;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #00bf32;
  color: white;
}
.Map {
  display: flex;
  width: 500px;
  height: 454px;
  margin-left: 500px;
  margin-top: 116px;
}
.Main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
